/build-*/
/dist/
!/dist/.gitkeep
*.user
*.autosave
.cursor/
*.obj
*.o
*.exe
!/tools/**/*.exe
*.dll
*.pdb
*.ilk
*.log
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
!CMakeLists.txt
VicVPN_autogen/
*.qrc.depends
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp
tools/innosetup*.exe
third_party/wintun/*.dll
third_party/cores/
